#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.5), black 120%);
}

#loader {
    position: relative;
    left: 25%;
    top: 25%;
    height: 50%;
}

#loader h1 {
    width: fit-content;
    position: absolute;
    top: -200px;
    left: -20%;
    bottom: -200px;
    padding: 0;
    font-size: 80px;
    color: white;
}

#loader span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

.let8 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.9s;
}

.let9 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 2s;
}

.let10 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 2.1s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}

@media only screen and (max-width:640px) {
    #loader h1 {
        font-size: 50px;
    }
}